node_modules
.pnp.cjs
.yarn/*cache*
.venv
.git
dist
.DS_Store
.vscode
.idea
docker-compose*.yml
**/tests
**/__tests__
coverage
npm-debug.log*
yarn-error.log*
Dockerfile
.github
README.md
cookies.txt
node_modules
data
dist
dts
.env
Dockerfile
